@import url("../style.css");
@import url("./queries.css");

/* 
/////////////////////////////////////////////////
ABOUT PAGE STLYES
////////////////////////////////////////////////
*/

.quote-section {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.4),
      rgb(17, 22, 24, 0.95)
    ),
    url("/Assets/img/about/helping-hands.webp");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.quote::before {
  content: "\201c";
  position: absolute;
  font-size: 200px;
  top: 80px;
  left: -80px;
  @apply text-white;
}

.testimonials {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.75),
      rgb(17, 22, 24, 0.75)
    ),
    url("/Assets/img/about/threepple.webp");
  max-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.slider {
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  /* background-color: red; */

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 500px;
  /* background-color: blue; */

  display: flex;
  align-items: center;
  justify-content: center;

  /* animation */
  transition: transform 1s;
}

.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  font-family: inherit;
  color: white;
  height: 55px;
  width: 55px;
  cursor: pointer;
  @apply text-h3  flex justify-center items-center rounded-full;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 28px;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #fff;
  opacity: 1;
}

/* CONTENTS */

.testimonials-content {
  @apply w-[65%];
}

.testimonials-content blockquote {
  text-justify: inter-word;
  @apply text-h6 mb-lg;
}

.img-container {
  @apply relative flex items-center justify-center  h-xxl w-xxl;
}

@media (max-width: 47.94em) {
  .slider__btn {
    display: none;
  }

  address {
    @apply gap-xxs;
  }

  /* .dots {
    @apply hidden;
  } */

  .testimonials-content {
    @apply w-[90%];
  }

  .testimonials-content blockquote {
    text-align: justify;
  }

  address .img {
    @apply h-xl w-xl;
  }

  .testimonials {
    background-attachment: scroll;
  }
}

@media (max-width: 31.3em) {
  .slide blockquote,
  address div h6 {
    @apply text-body;
  }

  .dots__dot {
    height: 10px;
    width: 10px;
  }
}
