@import url("../style.css");
@import url("./queries.css");

/* 
/////////////////////////////////////////////////
ABOUT PAGE STLYES
////////////////////////////////////////////////
*/

.quote-section {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.4),
      rgb(17, 22, 24, 0.95)
    ),
    url("/Assets/img/about/helping-hands.webp");
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.quote::before {
  content: "\201c";
  position: absolute;
  font-size: 200px;
  top: 80px;
  left: -80px;
  @apply text-white;
}

.testimonials {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.75),
      rgb(17, 22, 24, 0.75)
    ),
    url("/Assets/img/about/threepple.webp");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.testi-btn {
  @apply text-h3 absolute rounded-full;
}

.right-testi-btn {
  right: -100px;
  top: 50%;

  transform: translate(50%, -50%);
}
.left-testi-btn {
  top: 50%;
  left: -130px;

  transform: translate(50%, -50%);
}
