@import url("../style.css");
@import url("./queries.css");

.news-h6 {
  @apply font-bold text-h6 font-heading;
}

.news-list-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  @apply gap-sm bg-white-accent md:p-md p-sm rounded-lg transition-all duration-300 cursor-pointer;
}

ul .news-list-grid:hover {
  transform: translateY(-5px);
}

input:focus {
  outline: none;
  box-shadow: none;
}

.span-pagination span.pagin-no {
  padding: 16px;
  border-radius: 50%;

  @apply flex justify-center items-center h-5 w-5;
}

.span-pagination span.active-no {
  @apply bg-brand-color;
}

.pagin-content button {
  @apply text-h5 flex justify-center items-center mx-xs;
}

.news-slider {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  transition: height 0.5s;
  overflow: hidden;
}

.news-slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.5s;
}

.news-slide ul {
  width: 97%;
}

@media (max-width: 52.1875em) {
  .news-list-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    gap: 24px;
  }

  .news-list-grid img {
    place-self: stretch;
  }

  .published {
    display: none;
  }
}
