@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
/////////////////////////////////////////////////
HELPER CLASS
////////////////////////////////////////////////
*/
::selection {
  @apply bg-brand-color text-white;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(19, 164, 236, 0.5);
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.cta-btn {
  @apply bg-brand-color text-white transition-all duration-300 rounded-lg;
}

.cta-btn:hover {
  @apply bg-btn-hover;
}

.Vol-hover {
  @apply opacity-0 group-hover:opacity-100 transition-opacity duration-300 -translate-x-1/2 -translate-y-1/2  top-1/2 left-1/2 absolute  px-6 py-3 text-sm font-medium visible pointer-events-auto;
}

.header.sticky {
  @apply fixed bg-white/90 z-10;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* 
/////////////////////////////////////////////////
TIPPY STLYES
////////////////////////////////////////////////
*/

.tippy-box[data-theme~="custom"] {
  @apply bg-brand-color text-white rounded-lg px-sm py-sm text-sm;
}

.tippy-box[data-theme~="custom"] > .tippy-arrow {
  @apply text-brand-color;
}

.country:hover {
  @apply fill-brand-color;
}
/* 
/////////////////////////////////////////////////
MOBILE-NAV STYLES
////////////////////////////////////////////////
*/
.btn-mobile-nav {
  @apply border-none bg-none cursor-pointer hidden;
}

.icon-mobile-nav {
  @apply text-header-color h-lg w-lg;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* 
/////////////////////////////////////////////////
SECTION-HERO STYLES
////////////////////////////////////////////////
*/
.section-hero {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.4),
      rgb(17, 22, 24, 0.6)
    ),
    url("/Assets/img/homePage/man-smilingw.webp");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.nav-hover {
  @apply pb-1 border-transparent border-b-[3px] hover:border-brand-color transition-all duration-300 ease-linear;
}

/* 
/////////////////////////////////////////////////
SECTION-CAMPAIGN STLYES
////////////////////////////////////////////////
*/

.camp-img1 {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.2),
      rgb(17, 22, 24, 1)
    ),
    url("/Assets/img/homePage/warTornGaza.webp");
  min-height: 500px;
  min-width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.3);
  @apply rounded-lg overflow-hidden;
}

.camp-img2 {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.2),
      rgb(17, 22, 24, 1)
    ),
    url("/Assets/img/homePage/EnviromentalProtect.webp");
  min-height: 500px;
  min-width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.3);
  @apply rounded-lg overflow-hidden;
}

.camp-img3 {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.2),
      rgb(17, 22, 24, 1)
    ),
    url("/Assets/img/homePage/ukraineFlag.webp");
  min-height: 500px;
  min-width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.3);
  @apply rounded-lg overflow-hidden;
}

.camp-img1:hover,
.camp-img2:hover,
.camp-img3:hover,
.vol-img1:hover,
.vol-img2:hover,
.vol-img3:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 6px 2px rgba(19, 164, 236, 0.3);
}

/* 
/////////////////////////////////////////////////
SECTION-VOLUNTEERS STLYES
////////////////////////////////////////////////
*/
.vol-img1 {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.2),
      rgb(17, 22, 24, 0.9)
    ),
    url("/Assets/img/homePage/AhmetKurt.webp");
  min-height: 500px;
  min-width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.3);
  @apply rounded-lg overflow-hidden;
}

.vol-img2 {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.2),
      rgb(17, 22, 24, 0.9)
    ),
    url("/Assets/img/homePage/donation.webp");
  min-height: 500px;
  min-width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.3);
  @apply rounded-lg overflow-hidden;
}

.vol-img3 {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.2),
      rgb(17, 22, 24, 0.9)
    ),
    url("/Assets/img/homePage/support.webp");
  min-height: 500px;
  min-width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.3);
  @apply rounded-lg overflow-hidden;
}

/* 
/////////////////////////////////////////////////
SECTION-NEWSLETTER STLYES
////////////////////////////////////////////////
*/
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #13a4ec, #067fc3);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  @apply rounded-lg;
}

.news-content {
  @apply pt-xl px-xxl pb-xxl;
}

.news-img {
  background-image: linear-gradient(
      to bottom,
      rgb(9, 46, 72, 0.35),
      rgb(9, 46, 72, 0.35)
    ),
    url("/Assets/img/homePage/news-img.webp");
  background-size: cover;
  background-position: center;
}

.news-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}

.news-form label {
  @apply font-medium block text-body mb-xs;
}

.news-form input,
.news-form select {
  width: 100%;
  @apply text-h6 p-3 bg-white-accent;
  border: none;
  color: inherit;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.news-btn:focus,
.email-addy:focus,
.full-name:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(9, 46, 72, 0.35);
}

@media (max-width: 59.3em) {
  .btn-mobile-nav {
    display: block;
  }

  .nav {
    @apply bg-white-accent/95 px-sm;
    @apply flex flex-col justify-between gap-md;
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;

    display: flex;
    align-items: start;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(-100%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .nav-list {
    @apply flex-col gap-0 text-lead items-start w-full;
  }

  .nav-open .nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  ul li {
    @apply py-sm;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .grid {
    grid-template-columns: 3fr 2fr;
  }

  .news-form {
    grid-template-columns: 1fr;
  }

  .news-btn {
    margin-top: 12px;
  }

  .news-img {
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 51.7em) {
  .grid {
    grid-template-columns: 1fr;
  }

  .news-img {
    grid-row: 1;
    height: 320px;
  }

  .news-content {
    @apply p-md;
  }
}

@media (max-width: 40em) {
  .section-hero {
    height: 40vh;
  }
}
