@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
/////////////////////////////////////////////////
HELPER CLASS
////////////////////////////////////////////////
*/
::selection {
  @apply bg-brand-color text-white;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(19, 164, 236, 0.5);
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}

.header {
  @apply border-b border-[#eee];
}

.h2-el {
  @apply font-semibold lg:text-h2 md:text-h3 text-h4 font-heading md:mb-sm mb-xxs;
}

.container-div {
  @apply container mx-auto max-w-[1200px];
}

body {
  @apply w-full overflow-x-hidden bg-white font-body text-header-color/90;
}

.cta-btn {
  @apply bg-brand-color text-white transition-all duration-300 rounded-lg;
}

.cta-btn:hover {
  @apply bg-btn-hover;
}

.Vol-hover {
  @apply opacity-100 transition-opacity  -translate-x-1/2 -translate-y-1/2  top-1/2 left-1/2 absolute  px-6 py-3 text-sm font-medium visible pointer-events-auto;
}

.header.sticky {
  @apply fixed bg-white/90 z-10;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

#tab-container.sticky {
  @apply fixed bg-white z-10;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.group span {
  width: 220px;
  text-align: center;
}

.footer-link {
  @apply font-medium transition-all duration-300 hover:text-header-color;
}

/* 
/////////////////////////////////////////////////
TIPPY STLYES
////////////////////////////////////////////////
*/

.tippy-box[data-theme~="custom"] {
  @apply bg-brand-color text-white rounded-lg px-sm py-sm text-sm;
}

.tippy-box[data-theme~="custom"] > .tippy-arrow {
  @apply text-brand-color;
}

.country:hover {
  @apply fill-brand-color;
}
/* 
/////////////////////////////////////////////////
MOBILE-NAV STYLES
////////////////////////////////////////////////
*/
.btn-mobile-nav {
  @apply border-none bg-none cursor-pointer hidden;
}

.icon-mobile-nav {
  @apply text-header-color h-lg w-lg;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* 
/////////////////////////////////////////////////
SECTION-HERO STYLES
////////////////////////////////////////////////
*/
.section-hero {
  background-image: linear-gradient(
      to bottom,
      rgb(17, 22, 24, 0.4),
      rgb(17, 22, 24, 0.6)
    ),
    url("/Assets/img/homePage/man-smilingw.webp");
  min-height: 100vh;
  background-size: cover;
  /* background-position: auto; */
  background-attachment: fixed;
}

.nav-hover {
  @apply pb-1 border-transparent border-b-[3px] hover:border-brand-color transition-all duration-300 ease-linear;
}

/* 
/////////////////////////////////////////////////
SECTION-CAMPAIGN STLYES
////////////////////////////////////////////////
*/
.camp-img {
  min-height: 500px;
  min-width: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.3);
  @apply rounded-lg overflow-hidden relative flex flex-col flex-1 p-sm;
}

.camp-btn {
  @apply absolute p-2 text-xl transition-all duration-300 rounded-full top-4 right-4 bg-white/40 hover:bg-brand-color;
}

.camp-content-container {
  @apply flex flex-col mt-auto gap-sm;
}
.camp-content-container h6 {
  @apply font-bold text-lead font-heading;
}

.camp-content-container p {
  @apply text-small text-opacity-90;
}

.camp-img:hover,
.img-default:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 6px 2px rgba(19, 164, 236, 0.3);
}

/* 
/////////////////////////////////////////////////
SECTION-VOLUNTEERS STLYES
////////////////////////////////////////////////
*/
.img-default {
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s;
  box-shadow: 0 8px 6px 2px rgba(0, 0, 0, 0.3);
  @apply rounded-lg overflow-hidden;
}

.vol-content-container {
  @apply flex flex-col mt-auto gap-sm p-sm;
}

.vol-content-container h6 {
  @apply font-bold text-lead font-heading;
}

.vol-content-container p {
  @apply text-small text-opacity-90;
}

.vol-icon {
  @apply p-2 text-xl transition-all duration-300 rounded-full bg-brand-color hover:bg-btn-hover;
}

/* 
/////////////////////////////////////////////////
SECTION-NEWSLETTER STLYES
////////////////////////////////////////////////
*/
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #13a4ec, #067fc3);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  @apply rounded-lg;
}

.news-content {
  @apply pt-xl px-xxl pb-xxl;
}

.news-img {
  background-image: linear-gradient(
      to bottom,
      rgb(9, 46, 72, 0.35),
      rgb(9, 46, 72, 0.35)
    ),
    url("/Assets/img/homePage/news-img.webp");
  background-size: cover;
  background-position: center;
}

.news-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}

.news-form label {
  @apply font-medium block text-body mb-xs;
}

.news-form input,
.news-form select {
  width: 100%;
  @apply text-h6 p-3 bg-white-accent;
  border: none;
  color: inherit;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.news-btn:focus,
.email-addy:focus,
.full-name:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(9, 46, 72, 0.35);
}
/* 
/////////////////////////////////////////////////
SECTION-VOLUNTEERS
////////////////////////////////////////////////
*/
.slider-container {
  max-width: 1200px;
  height: 520px;
  margin: 0 auto;
  position: relative;

  overflow: hidden;
}

.slider-content {
  width: 420px;
  height: 98%;
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slider-inner {
  @apply w-[95.24%] h-full mr-auto;
}

.dots__dot {
  border: none;
  opacity: 0.7;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.5s;
  @apply bg-[#b9b9b9];
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  @apply bg-brand-color;
  opacity: 1;
}
